

.header{

    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: black;
    text-align: left;
}
.subheader{
    
    font-size: medium;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-align: left;
}

.Sissejuhatus{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-display: block;
    text-align: center;
}

.Päritolu{
    font-family: Arial;
    font-display: fallback;
    display: grid;
    grid-template-columns: 55% 45%;
}
.Päritolutekst{
    font-size: large;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-display: fallback;
    text-align: justify;
    line-height: 1.7;
    grid-column: 1;
    text-align: justify;   
}
.Päritolupilt{
    grid-column: 2;
    width: 90% ;
    height: auto;
    align-items: center;
}
.Peale_lõpetamist{
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    text-align: justify;
    line-height: 1.7;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items:last baseline;
}

.Peale_lõpetamisttekst{
    grid-column: 2;
}
.Peale_lõpetamistpealkiri{
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    font-style: oblique;
    text-align: justify;
    line-height: 1.7;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-column: 2;

}

.Hobid{
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    text-align: justify;
    line-height: 1.7;
    display: grid;
    grid-template-columns: 55% 45%;
    align-items:last baseline;
}
.Hobidtekst{
    grid-column: 1;
}
.Hobidpealkiri{
     color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    font-style: oblique;
    text-align: justify;
    line-height: 1.7;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-column: 1;
}

.Varia{
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    text-align: justify;
    line-height: 1.7;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items:last baseline;
}
.Variatekst{
    grid-column: 2;
}
.Variapealkiri{
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    font-style: oblique;
    text-align: justify;
    line-height: 1.7;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column: 2;    
}
.Tulevik{
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    text-align: justify;
    line-height: 1.7;
    display: grid;
    grid-template-columns: 40% 60%;
}
.Tulevikutekst{
    grid-column: 1;
}    
.Tulevikupealkiri{
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    font-style: oblique;
    text-align: justify;
    line-height: 1.7;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 1;    
}
.Tulevikupilt{
    grid-column: 2;
    width: 90% ;
    height: auto;
    justify-self: right;
    padding: 10 px;
}