/*https://www.w3schools.com/cssref/css3_pr_align-items.php*/
/*https://www.w3schools.com/css/css_border.asp*/
/*https://www.w3schools.com/css/css_background.asp*/
/*https://www.w3schools.com/css/css_grid.asp*/

.Main{
    background-image: url("5939.jpg_wh860.jpg");
}

.header{
    background-color: rgb(46, 92, 137);
    font-size: 40px;
    font-style: oblique;
    text-align: left;
}
.subheader{
    background-color: rgb(46, 92, 137);
    font-size: 28px;
    font-style: oblique;
    text-align: left;
}

.Sissejuhatus{
    background-color: rgb(46, 92, 137);
    font-size: 28px;
    font-style: block;
    text-align: center;
}

.Päritolu{
    background-color: rgb(46, 92, 137);
    font-family: Arial;
    display: grid;
    grid-template-columns: 55% 45%;
    text-align: left;
    gap: 30 px;
}
.Päritolutekst{
    font-size: 22px;
    text-align: justify;
    line-height: 1.7;
    grid-column: 1;
    text-align: justify;   
}
.Päritolupilt{
    grid-column: 2;
    width: 90% ;
    height: auto;
    align-items: start;
}
.Päritolupealkiri{
    font-style: oblique;
    font-size: 30px;
}
.Peale_lõpetamist{
    background-color: rgb(46, 92, 137);
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    line-height: 1.7;
    padding: 20px;
}
.Peale_lõpetamisttekst{
    text-align: justify;
    margin-bottom: 20px;

}

.Peale_lõpetamistpealkiri{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-align: left;
    line-height: 1.7;
    margin-bottom: 15 px;    
}
.Peale_lõpetamistpildid{
    background-color: rgb(46, 92, 137);
    display: flex;
    gap: 20px;
    justify-content: center;
}
.Peale_lõpetamistpilt1{
    width: 90% ;
    height: auto;
    text-align: center;
}
.Peale_lõpetamistpilt2{
    width: 75% ;
    height: auto;
    text-align: center;

}
.Peale_lõpetamistpilt3{
    width: 90% ;
    height: auto;
    text-align: center;
}
.Peale_lõpetamistpildid img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.Hobid{
    background-color: rgb(46, 92, 137);
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
    align-items: start;
    padding: 20px 0;
}
.Hobidtekst{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    text-align: justify;
    line-height: 1.7;
    grid-column: 1;
    
}
.Hobidpilt{
    grid-column: 2;
    width: 100% ;
    height: auto;
    justify-self: center;
    align-self: start;
}

.Hobidpealkiri{
    font-style: oblique;
    text-align: left;
    grid-column: 1 / 2;
    margin-bottom: 15px;
    font-size: 30px;
}

.Varia{
    background-color: rgb(46, 92, 137);
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    text-align: justify;
    line-height: 1.7;
}
.Variatekst{
    text-align: left;
}
.Variapealkiri{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    font-style: oblique;
    text-align: left;
    line-height: 1.7;
    display: grid;
    grid-column: 1;    
}
.Variapildid{
    background-color: rgb(46, 92, 137);
    gap: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items:last baseline;

}
.Variapilt1{
    grid-column: 1;
    width: 90% ;
    height: auto;
    text-align: center;
}
.Variapilt2{
    grid-column: 2;
    width: 90% ;
    height: auto;
    text-align: center;
}

.Tulevik{
    background-color: rgb(46, 92, 137);
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    text-align: justify;
    line-height: 1.7;
    display: grid;
    grid-template-columns: 40% 60%;
}
.Tulevikutekst{
    grid-column: 1;
}    
.Tulevikupealkiri{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    font-style: oblique;
    text-align: left;
    line-height: 1.7;
    grid-column: 1 / 3;  
}
.Tulevikupilt{
    grid-column: 2;
    width: 90% ;
    height: auto;
    justify-self: right;
    padding: 10 px;
}
.Instagram{
    background-color: rgb(46, 92, 137);
    display: grid;
   grid-template-columns: 25% 50% 25%;
   grid-template-rows: 2; 
   margin-bottom: 20px;
}
.Instagramtekst{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-display:block;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 10px;
}
.Instagrampilt{
    grid-column: 2;
    grid-row: 2;
    width: 50px;
    height: auto;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}