

.header{
    background-image: url("numbrid.jpg");
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: white;
    text-align: center;
}
.subheader{
    background-image: url("numbrid.jpg");
    font-size: medium;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-align: center;
}

.Sissejuhatus{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-display: block;
    text-align: center;
}