html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* mode vahetamise üleminek */
    transition: background 0.5s ease, color 0.5s ease;

    /* tausta gradient lightmode */
    background: linear-gradient(to bottom, #60bfff 0%, #e0f7ff 100%);
    color: #001f3f;
}

.pildi-hoidja {
    text-align: center;
}
.pilt {
    width : 25%;
    height: auto;
    text-align: center;
}
/* tausta gradient darkmode*/
body.dark-mode {
    background: linear-gradient(to bottom, #00112a 0%, #025db8 100%);
    color: #cfe9ff;
}

/* nupp*/
#theme-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 999;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(4px);
    transition: background 0.3s ease, color 0.3s ease;
}

.header {
    text-align: center;
}

.sub-title {
    text-align: center;
}

p, summary {
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
}

/* Dropdown konteiner */
.dropdown-container {
    max-width: 700px;
    margin: 20px auto;
}

/* details / summary stiil */
details {
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 12px;
    backdrop-filter: blur(4px);
}

body.dark-mode details {
    background: rgba(39, 74, 142, 0.6);
}